<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />



    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetVerse"
        tools:targetApi="31" >
        <activity
            android:name=".ui.activity.EditProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.PetVerse" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.PetVerse" />
        <activity
            android:name=".ui.activity.UploadPostActivity"
            android:exported="false"
            android:label="@string/title_activity_upload_post"
            android:theme="@style/Theme.PetVerse" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.PetVerse" />
        <activity
            android:name=".ui.screen.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.PetVerse" />
        <activity
            android:name=".ui.activity.ResetPassCompleteActivity"
            android:exported="false"
            android:label="@string/title_activity_reset_pass_complete"
            android:theme="@style/Theme.PetVerse" />
        <activity
            android:name=".ui.activity.NewPasswordWlActivity"
            android:exported="false"
            android:label="@string/title_activity_new_password_wl"
            android:theme="@style/Theme.PetVerse" />
        <activity
            android:name=".ui.activity.OtpActivity"
            android:exported="false"
            android:label="@string/title_activity_otp"
            android:theme="@style/Theme.PetVerse" />
        <activity
            android:name=".ui.activity.ResetPassUsingEmailActivity"
            android:exported="false"
            android:label="@string/title_activity_reset_pass_using_email"
            android:theme="@style/Theme.PetVerse" />
        <activity
            android:name=".ui.activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>